BlogEngine.Tests/bin/
BlogEngine.Core/obj/
BlogEngine.NET/bin/BlogEngine.Core.xml
BlogEngine.NET/bin/
BlogEngine.Tests/obj/Debug/BlogEngine.Tests.csproj.FileListAbsolute.txt
BlogEngine.NET/obj/
BlogEngine.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BlogEngine.Tests/obj/
